* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

body {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
body{
    font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}
.navbar{
    /* background-color: aqua; */
    margin-top: 20px;
}
.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-filter{
    width: 100%;
    max-width: 840px;
    border: 1px solid #E6E6E6;
    padding: 18px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-filter input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
}
.bac{
    width: 422px;
    height: 500px;
    flex-shrink: 0;
    
    background: #D7E8ED;
    margin-left: -600px;
    z-index: -1;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: -160px;
    gap: 100px;

  

}
.header__content {
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 450px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    gap: 150px;
 
}

.header__title{
    color: #245462;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;


}
.header__text{
    width: 421px;
    color: var(--text-color, #414141);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;

}
.header__btn{
    width: 421px;
margin-top: 10px;
color: #686868;

font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140.188%; /* 19.626px */
}
.header__pp p span{
    margin-top: 10px;
}
.menu{
    margin-top: 150px;
   
}
.menu__title{
    color: #414141;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
text-align: center;
margin-top: 40px;
}
.all-menu{
   
    display: flex;
    flex-wrap;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-top: 50px;
    margin-left: -300px;
}
.menu-bar{
  display: flex;
  align-items: center;
  gap: 20px
  ;
    
}
.menu-text{
    width: 160px;

color: var(--text-color, #414141);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.27px;
}
.mma{
    width: 440px;
color: #686868;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140.188%; /* 19.626px */
}
.amm{
    display: flex;
    flex-wrap;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-top: 50px;
    margin-left: -300px;
}
.opp{
    margin-top: 100px;
     background: #D7E8ED;
     padding: 5px 0px 50px 0px;
     
    
}


.opp__main{
   text-align: center;
   margin-left: 300px;
   margin-top: 50px;
}
.opp__title{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
margin-top: 80px;
color: var(--text-color, #414141);
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.27px;
margin-left: 100px;

}
.line{
 
    width: 400px;
height: 1px;
flex-shrink: 0;
background: #245462;
margin-top: 20px;
margin-left: 60px;
}
.opp-text{
    width: 540px;
margin-top: 20px;
color: #686868;

text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140.188%; /* 19.626px */
}
.werr{
    margin-top: 80px;
}
.wer-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px
    ;
}

 .wer-bar{
    width: 545px;
    height: 141px;
    flex-shrink: 0;
    background: #F4F4F4;
    padding: 22px;
    margin-top: 40px;

 }  
 .eerr{
    margin-top: -30px;
    margin-left: -30px;
 } 

.wer-text{
margin-top: 10px;
color: var(--text-color, #414141);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.27px;
}
.war{

color: #686868;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140.188%; /* 19.626px */
}
.left{
    margin-top: 150px;
   
}
.left__title{
    color: #414141;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
text-align: center;
margin-top: 40px;
}
.left-menu{
   
    display: flex;
  
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    margin-left: -20px;
}
.left-bar{
    display: flex;
    align-items: center;
    gap: 30px
    ;
 
  
    
}
.life{
    width: 20px;
height: 20px;
flex-shrink: 0;
}
.left-text{
    width: 281px;

color: var(--text-color, #414141);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}
.lla{
    color: var(--text-color, #414141);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.left-end{
    width: 455px;
    margin-top: 100px;
    color: var(--text-color, #414141);
text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140.188%; /* 33.645px */
margin-left: 350px
}
.foto{
    margin-top: 80px;
    margin-left: -200px;
}
